{% extends 'base.html' %}
{% block title %}
登录
{% endblock %}

{% block head %}
<Script src="../../static/js/code.js"></Script>
<link rel="stylesheet" type="text/css" href="../../static/css/code.css">
{% endblock %}

{% block body %}
    <div>
        <h1>用户登录</h1>
    <div>
      <form action="{{url_for('login.login')}}" method="post">
          <div>
            <label>用户名:</label>
            <input type="text" name="user_name" placeholder="请输入用户名">
            <br><br>
            <label>密码:</label>
            <input type="password" name="user_passwd" placeholder="请输入密码">
            <br><br>
            <label>验证码：</label>
            <input type="text" name="temp_password" id="input1" placeholder="请输入验证码">
            <br><br>
            <input type="text" id="checkCode" class="code" style="width: 100px"> 
            <a href="#" onclick="createCode();">看不清楚</a>
            <input onclick="validate();" type="button" value="确定">
            <br><br>
          </div>
          <div>
            <input type="submit" value="登录">
            <button type="button" id="cancel">取消</button>
          </div>
      </form>
      </div>
    </div>
{% endblock %}